.main-landing {
  margin: 0 !important;
  background-image: url("/img/header.jpg");
  min-height: 100vh;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  display: flex;
  flex-direction: column;
}

.main-landing nav {
  background-color: rgba(255, 255, 255, 0.5);
}

.main-landing nav a {
  color: #00612f;
  background-color: rgba(255, 255, 255, 0.5);
}

.main-landing .Footer {
  text-align: right;
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
}

.main-landing .Footer a {
  color: black;
}

.main-landing .landingBox {
  display: flex;
  flex: 1;
}

.main-landing .landingBox-content {
  margin: auto;
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

.main-landing .landingBox-content a {
  padding: 15px 30px;
  font-size: 25px;
  background-color: #1d6f1d;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  display: inline-block;
  border-bottom: 3px solid darkgreen;
}

.intro {
  font-family: Museo Sans Rounded, Arial, sans-serif;
}

.intro h3,
.intro h2 {
  font-size: 20px;

  margin-bottom: 5px !important;
}

.intro p {
  font-size: 15px;
  font-weight: bold;
  font-style: oblique;
  font-family: sans-serif;
}
.main-landing .intro {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  max-height: 200px;
}

@media only screen and (min-width: 768px) {
  .intro p {
    font-size: 20px;
  }
}
