.details {
  margin: 0 !important;
}

.trail-details .go-back {
  margin-top: 20px;
  font-size: 15px;
}

.details h3 {
  padding: 0;
  display: block;
  text-align: center;
  margin-top: 0;
  margin-left: 20px;
}

.details p {
  font-family: monospace;
}

.details img {
  max-width: 100%;
  /* height: 200px; */
  min-height: 100px;
}
.details .trail-details {
  margin-left: 20px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .details h3 {
    margin-top: 20px;
    font-size: 14px;
  }
}
