nav {
  background-color: #006400;
  padding: 10px 30px 10px 30px;
  flex-direction: column;
  align-items: center;
  display: flex;
  font-size: 20px;
}
nav a {
  color: white;
  text-decoration: none;
}

nav h1 {
  margin: 0;
}

@media screen and (min-width: 769px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
}
