.Leaderboard .go-back {
  margin-top: 20px;
  font-size: 15px;
  margin: 20px;
}

.Leaderboard h3,
.Leaderboard h2 {
  display: block;
  text-align: center;
  margin-top: 0;
}

.Leaderboard h3,
.Leaderboard h2,
.leaderboard-title,
.length-by-user p {
  font-family: monospace;
}
.leaderboard-title {
  font-size: 20px;
  font-weight: bold;
  color: #1d6f1d;
  margin: 20px;
}
.leaderboard-title {
  font-size: 15px;
  font-weight: bold;
  color: #1d6f1d;
}
.Leaderboard section * {
  font-size: 13px;
}
.Leaderboard Footer {
  font-size: 8px;
}

@media only screen and (min-width: 768px) {
  .Leaderboard section * {
    margin-left: 40px;
  }
}
